<div class="chat-room">
  <div class="chat-room__group-info">
    <div class="groups">
      <div class="groups__name">
        <%= @room.name %>
      </div>
      <div class="groups__member">
        <% @room.users.each do |user| %>
        <%= user.username %>
        <% end %>
      </div>
    </div>
    <div class="edit">
      <%= link_to edit_room_path(@room) , class: "edit__btn" do %>
      <i class="fas fa-user-edit"></i>
      <% end %>
    </div>
  </div>

  <div class="chat-room__message-form">
    <%= form_with model: [@room, @message], html: {class: "Form"}, local: true do |f| %>
    <div class="Form">
      <%= f.text_field :content, class: 'Form__inputContent', placeholder: 'TYPE A MESSAGE' %>
      <%= f.label :image, class: 'Form__inputImage' do %>
      <%= f.file_field :image, class: 'Form__file' %>
      <%= icon('far', 'image', class: 'Form__icon') %>
      <% end %>
    </div>
    <%= f.submit 'Send', class: 'Form__submit' %>
    <% end %>
  </div>
  <div class="chat-room__message-list">
    <%= render @messages %>
  </div>
</div>