<section class="section1">
  <div class="userform">

    <h3 class="title-signup">Sign In</h3>
    <div class="form row">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form__field">
        <%= f.label :email, class: "label" %><br />
        <p class="form__input input-text js-input">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </p>
      </div>

      <div class="form__field">
        <%= f.label :password, class: "label" %><br />
        <p class="form__input input-text js-input">
          <%= f.password_field :password, autocomplete: "current-password form__input__field input-text" %>
        </p>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="form__field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "label" %>
      </div>
      <% end %>

      <div class="actions form__field righat">
        <%= f.submit "Log in", class: "submit-btn" %>

        <%= render "devise/shared/links" %>
      </div>
      <% end %>
    </div>
  </div>
</section>