<section class="section">
  <div class="side-ber">
    <div class="side-ber__user-name">
      <div class="top-item">
        <div class="top-item__name ">
          <%= current_user.username %>
          <div class="top-item__icons">
            <%= link_to new_room_path , class: "Contents" do %>
            <p>新規room作成icon</p>
            <% end %>
            <%= link_to edit_user_path(current_user) do %>
            <p>room編集icon</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="side-ber__room-list">
    <% @rooms.each do |room| %>
    <div class="side-ber__room-list__G">
      <%= link_to room_messages_path(room) do %>
      <div class="side-ber__room-list__G__name">
        ↓ルームネーム
        <p><%= room.name %></p>
        <li><%= link_to "ROOM#{room.name}", room_path(room) %></li>
        <div class="side-ber__room-list__G__message">
          ここに最後のメッセージ↓
          <p><%= room %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div>
    <ul>
      <% @rooms.each do |room| %>
      <li>新規ルーム作成<%= link_to "sinnki", new_room_path(room) %></li>
      <% end %>
    </ul>
  </div>
</section>