<section class="section">
  <div class="cards">
    <% @posts.each do |post| %>
    <div class="card">
      <%= link_to user_path(post.user) do %>
      <div class="card__Contributor">
        <div class="card__Contributor__phot">
          <%= attachment_image_tag post.user, :profile_image, fallback: "no-image.png", class: "userimage" %>
        </div>
        <div class="card__Contributor__name">
          <%= post.user.username %>
        </div>
      </div>
      <% end %>
      <%= link_to post_path(post) do %>
      <div class="card__image">
        <%= attachment_image_tag post, :image, class:"post2-imgsize" %>
      </div>
      <div class="card__title"><span><%= post.title %></span>

      </div>
      <div class="card__body">
        <%= simple_format post.body %>
      </div>
      <% end %>
      <div class="card__reactions">
        <ul class="reaction icon">
          <li><time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time></li>
          <li><i class="fa fa-heart"></i></li>
          <li><i class="fa fa-tag"></i></li>
          <li><i class="fa fa-envelope"></i></li>
        </ul>
      </div>
      <div class="card__time">

      </div>
    </div>
    <% end %>
  </div>
</section>