<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規作成
      </h1>
    </div>
  </div>
</section>


<% if @post.errors.any? %>
<div class="notification is-danger">
  <h2><%= pluralize(@post.errors.count, "エラー") %> prohibited this object from being saved: not successfully</h2>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="Post-form is-6">
        <%= form_with model: @post, local: true do |f| %>

        <div class="field">
          <%= f.label :title, "title", class: "label" %>
          <%= f.text_field :title, class: "textarea" %>
        </div>


        <div class="field">
          <%= f.label :body, "投稿", class: "label" %>
          <%= f.text_area :body, class: "textarea" %>
        </div>

        <div class="field">
          <%= f.label :image, "写真", class: "label" %>
          <%= f.attachment_field :image, class: "input" %>
        </div>

        <%= f.submit '投稿', class: "button is-success" %>
        <% end %>


      </div>
    </div>
  </div>
</section>