<section class="post-section">
  <div class="post1">
    <div class="post1__image">
      <%= attachment_image_tag @post, :image, class: "post-imgsize" %>
    </div>
    <div class="post1__content">
      <div class="post-user">
        <span class="card__Contributor__imag">
          <%= attachment_image_tag @post.user, :profile_image, fallback: "no-image.png", class: "userimage" %>
        </span>
        <div class="post-user__name">
          <%= link_to user_path(@post.user), class: "panel-block" do %>
          <%= @post.user.username %>
        </div>
        <div class="post-user__cd">
          <% if @post.user.id == current_user.id %>
          <%= link_to edit_post_path(@post), class: "button is-success" do %> <i class="fa fa-cog"></i><% end %>
          <%= link_to post_path(@post), method: :delete, data: {confirm: "消していいの？"} do %><i class="fas fa-trash-alt"></i><% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="post-t">
        <%= @post.title %>
      </div>
      <div class="post-b">
        <%= simple_format @post.body %>
      </div>
      <div class="post-time">
        <time><%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
      </div>
      <div class="co">
        <div class="comments">
          <% @comments.each do |comment| %>
          <div class="comment">
            <%= attachment_image_tag comment.user, :profile_image, fallback: "no-image.png", class: "commentuserimage" %>
            <div class="comment__user">
              <span class="name"><%= comment.user.username %></span>:
              <span class="b"><%= comment.comment_content %></span>
            </div>
          </div>
          <% end %>
        </div>


        <div class="comment-form">
          <%= form_with(model:[@post, @comment], method: :post) do |f| %>
          <div class="comment-form__input">
            <%= f.text_field :comment_content, placeholder: 'コメントを追加…', class: "comment-form__input__field" %>
            <%= f.hidden_field :post_id, value: @post.id%>
          </div>
          <div class="comment-form__buttn">
            <%= f.submit '送信する', class: "comment-submit-buttn" %>
          </div>
          <% end %>
        </div>

      </div>
    </div>

</section>