<div class="body">
  <% if user_signed_in? %>
  <aside class="asid">
    <div class="links">-------- LINK </div>
    <nav>
      <ul class="icons">
        <li><i class="fas fa-camera"></i></li>
        <li><i class="fa fa-heart"></i></li>
        <li><i class="fa fa-heart"></i></li>
        <li class="menu__list">
          <%= link_to rooms_path, class: "menu__list__ja" do%>
          <i class="fas fa-comments"></i>
          <% end %>
        <li class="menu__list">
          <%= link_to tags_path, class: "menu__list__ja" do%>
          <i class="fa fa-tag"></i>
          <% end %>
        <li><i class="fa fa-envelope"></i></li>
      </ul>
    </nav>
    <div>
    </div>
  </aside>
  <header class="header">
    <div><%= link_to root_path, class: "title" do %>Encounter Salon<% end %></div>
    <input type="text" class="input" placeholder="検索">
    <div>
      <ul class="menu">
        <li class="menu__list">
          <%= link_to destroy_user_session_path, method: :delete do%>
          <p class="menu__list__en">LOG OUT</p>
          <p class="menu__list__ja">ログアウト</p>
          <% end %>
        </li>
        <li class="menu__list">
          <%= link_to new_post_path do%>
          <p class="menu__list__en">NEW POST</p>
          <p class="menu__list__ja">新規投稿</p>
          <% end %>
        </li>
        <li class="menu__list">
          <%= link_to posts_path do%>
          <p class="menu__list__en">POST LIST</p>
          <p class="menu__list__ja">投稿一覧</p>
          <% end %>
        </li>
        <li class="menu__list">
          <%= link_to users_path do%>
          <p class="menu__list__en">USERS</p>
          <p class="menu__list__ja">ユーザー一覧</p>
          <% end %>
        </li>
        <li class="menu__list">
          <%= link_to tags_path do%>
          <p class="menu__list__en">TAGS</p>
          <p class="menu__list__ja">タグ一覧</p>
          <% end %>
        </li>
        <li class="menu__list">
          <%= link_to  user_path(current_user) do%>
          <p class="menu__list__en">MY PAGE</p>
          <p class="menu__list__ja">マイページ</p>
          <% end %>
        </li>
      </ul>
    </div>
  </header>
  <% else %>
  <header class="header">
    <div><%= link_to root_path, class: "title" do %>Encounter Salon<% end %></div>
    <input type="text" class="input" placeholder="検索">
    <div>
      <ul class="menu">
        <li class="menu__list">
          <%= link_to posts_path do%>
          <p class="menu__list__en">POST LIST</p>
          <p class="menu__list__ja">投稿一覧</p>
          <% end %>
        </li>
        <li class="menu__list">
          <%= link_to users_path do%>
          <p class="menu__list__en">USERS</p>
          <p class="menu__list__ja">ユーザー一覧</p>
          <% end %>
        </li>
        <li class="menu__list">
          <%= link_to new_user_session_path do%>
          <p class="menu__list__en">LOG IN</p>
          <p class="menu__list__ja">ログイン</p>
          <% end %>
        </li>
        <li class="menu__list">
          <%= link_to new_user_password_path do%>
          <p class="menu__list__en">LOG OUT</p>
          <p class="menu__list__ja">pass忘れた</p>
          <% end %>
        </li>
        <li class="menu__list">
          <%= link_to new_user_registration_path do%>
          <p class="menu__list__en">LOG OUT</p>
          <p class="menu__list__ja">新規登録</p>
          <% end %>
        </li>
      </ul>
    </div>

  </header>
  <% end %>
</div>